<section class="section dashboard">
  <header class="section__header bg-red">
    <h1>Codename Pulse</h1>
    <h6>Welcome back to Dashboard</h6>
    <section class="section__header__description bg-black">
      <!-- <button class="left--section disabled">test</button> -->
      <h3 class="middle--section">Dashboard</h3>
      <!-- <section class="right--section"></section> -->
    </section>
  </header>
  <section class="section__dashboard">
    <section class="section__dashboard__left">
      <!-- <img src="assets/Dashboard.png" alt="Dashboard"> -->
       <!-- <img src="/angular-ikigai-frontend-app/assets/Dashboard.png" alt="" srcset=""> -->
        <img src="assets/Dashboard.png" alt="">
    </section>
    <section class="section__dashboard__right" >
      <h6>Sept Highlights:</h6>
      <p>IKIGAI [Sept] - 3 Teams ✅, 6 Teams ❌</p>
      <p>1:1 Feedback [Sept] = 15 Members ✅, 30 Members ❌</p>
    </section>      
  </section>
  <section class="section__card">
    <section class="section__card__header">
      <button class="left--section primary">Filter</button>
      <!-- <h6 class="middle--section">Dashboard</h6> -->
      <button class="right--section secondary">Sept</button>
    </section>
    <section class="section__card__container">
      <section class="card card__1">
       <p class="card__section title">Kalopsia[Exact]</p>
       <p class="card__section role">SM: Sritaj</p>
       <section class="card__section"></section>
       <h6 class="card__section ikigai">IKIGAI: ✅</h6>
       <h6 class="card__section 1:1Connect">1:1 Connect: 5/9</h6>
       <section class="card__section avatar__container collapse">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
       </section>
      </section>
      <section class="card card__2">
        <p class="card__section title">Enhancers[Exact]</p>
        <p class="card__section role">SM: Harsha</p>
        <section class="card__section"></section>
        <h6 class="card__section ikigai">IKIGAI: ❌</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: 3/5</h6>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
      </section>
      <section class="card card__3">
        <p class="card__section title">Mavericks[Exact]</p>
        <p class="card__section role">SM: Palvi</p>
        <section class="card__section"></section>
        <h6 class="card__section ikigai">IKIGAI: ✅</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: 3/6</h6>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
      </section>
      <section class="card card__4">
        <p class="card__section title">Coca Cola[Exact]</p>
        <p class="card__section role">SM: Sritaj</p>
        <section class="card__section"></section>
        <h6 class="card__section ikigai">IKIGAI: ❌</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: 2/3</h6>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
      </section>
      <section class="card card__5">
        <p class="card__section title">Ensis[Royal Haskoning]</p>
        <p class="card__section role">SM: Sritaj</p>
        <section class="card__section"></section>
        <h6 class="card__section ikigai">IKIGAI: ✅</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: 1/2</h6>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        </section>
      </section>
      <section class="card card__6">
        <p class="card__section title">Rangers[Exact]</p>
        <p class="card__section role">SM: Harsha</p>
        <section class="card__section"></section>
        <h6 class="card__section ikigai">IKIGAI: ✅</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: 6/7</h6>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
      </section>
      <section class="card card__7">
        <p class="card__section title">Titans[Exact]</p>
        <p class="card__section role">SM: Palvi</p>
        <section class="card__section"></section>
        <h6 class="card__section ikigai">IKIGAI: ❌</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: 3/4</h6>
        <section class="card__section avatar__container collapse">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
          <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
          <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
        </section>
      </section>
      <section class="card" *ngFor="let teams of homepageData.teams">
        <p class="card__section title">{{teams.teamName}}</p>
        <p class="card__section role">SM: {{teams.teamSMName}}</p>
        <section class="card__section"></section>
        @if (teams.ikigaiStatus) {
          <h6 class="card__section ikigai">IKIGAI: ✅</h6>
        } 
        @else {
          <h6 class="card__section ikigai">IKIGAI: ❌</h6>
        }
        @if(teams.totalOnetoOneCompletedCount==teams.totalTeamMembersCount) {

          <h6 class="card__section 1:1Connect success">1:1 Connect: {{teams.totalOnetoOneCompletedCount}}/{{teams.totalTeamMembersCount}}</h6>
        }
        @else {

          <h6 class="card__section 1:1Connect">1:1 Connect: {{teams.totalOnetoOneCompletedCount}}/{{teams.totalTeamMembersCount}}</h6>
        }

        <!-- <h6 class="card__section ikigai">IKIGAI: {{teams.ikigai}}</h6>
        <h6 class="card__section 1:1Connect">1:1 Connect: {{teams.oneOnOneConnect}}</h6> -->
      </section>
    </section>
  </section>
</section>