<section class="section ikigai">
  <header class="section__header bg-red">
    <h1>Codename Pulse</h1>
    <h6>Please select the team to start ikigai</h6>
    <section class="section__header__description bg-black">
      <!-- <button class="left--section disabled">test</button> -->
      <h3 class="middle--section">Start IKIGAI</h3>
      <!-- <section class="right--section"><p>Ready to Download</p></section> -->
    </section>
  </header>
  <section class="section__card">
    <!--Card Header-->
    <section class="section__card__header">
      <!-- <button class="left--section primary">Filter</button> -->
      <h6 class="middle--section"></h6>
      <button class="right--section secondary">Sept</button>
    </section>
    <!--Card Section-->
    <section class="section__card__container">
      <section class="card card__1">
        <p class="card__section title">Kalopsia[Exact]</p>
        <p class="card__section role">SM: Sritaj</p>
        <section class="card__section"></section>
        <a class="card__section ikigai"> Start IKIGAI</a>
        <section class="card__section avatar__container collapse">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
        </section>
       </section>
       <section class="card card__2">
         <p class="card__section title">Enhancers[Exact]</p>
         <p class="card__section role">SM: Harsha</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__3">
         <p class="card__section title">Mavericks[Exact]</p>
         <p class="card__section role">SM: Palvi</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__4">
         <p class="card__section title">Coca Cola[Exact]</p>
         <p class="card__section role">SM: Sritaj</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__5">
         <p class="card__section title">Ensis[Royal Haskoning]</p>
         <p class="card__section role">SM: Sritaj</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         </section>
       </section>
       <section class="card card__6">
         <p class="card__section title">Rangers[Exact]</p>
         <p class="card__section role">SM: Harsha</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
         </section>
       </section>
       <section class="card card__7">
         <p class="card__section title">Titans[Exact]</p>
         <p class="card__section role">SM: Palvi</p>
         <section class="card__section"></section>
         <a class="card__section ikigai"> Start IKIGAI</a>
         <section class="card__section avatar__container collapse">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
           <img class="avatar" src="assets/Avatars/M/Gemini_Generated_Image_mo6jucmo6jucmo6j.jpeg" alt="Male">
           <img class="avatar" src="assets/Avatars/F/Gemini_Generated_Image_juzxejjuzxejjuzx.jpeg" alt="Female">
         </section>
       </section>
    </section>
  </section>
</section>