@use "../../../styles/typography.scss" as *;
@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;
@use "../../../styles/helpers.scss" as *;
@use "../../../styles/layouts.scss" as *;


// ::ng-deep.login-component,.login{
//   width: inherit;
//   height: 100%;
// }
.login{
  @extend .flex-container;
  box-shadow: $box-shadow-medium;
  // min-width: 500px;
  // min-height: 300px;
  gap: 0;
  .login-marquee-image,
  .login-content{
    @extend .flex-child;
    width: 50%;
  }
  .login-content{
    background-color: $color-white;
    border: $border-component;
    padding: 1rem 3rem;
    @extend .flex-container, .column,.center;
    .login-app-logo{
      width: 100px;
      height: auto;
    }
    .login-title{
      // @extend .flex-child, .grow;
    }
    .company-app-logo{
      width: 100px;
      height: auto;
    }
  }
}