<section class="section page-not-found">
  <header class="section__header bg-red">
    <!--Title-->
    <h1>Codename Pulse</h1>
    <!--SubTitle-->
    <h6>Work in Progress</h6>
    <!--Header Menu-->
    <section class="section__header__description bg-black">
      <button class="left--section disabled">test</button>
      <h3 class="middle--section">Work In Progress</h3>
      <section class="right--section">
       <p>Ready to Download</p>  
      </section>
    </section>
  </header>

  <section class="section__dashboard">
    <section class="section__dashboard__right" >
      <h3>Oops! Page Not Found</h3>
      <p>It seems the page you’re looking for has floated away. Let’s get you back to where you need to be.</p>
      <button class="primary"><a [routerLink]="['/']">🏠 Return to Homepage</a></button>      
    </section>      
    <section class="section__dashboard__left">
        <img src="assets/error-images/pageNotFound.webp" alt="">
    </section>
  </section>

</section>