<nav>
  <figure class="sideNavHeaderSection">
    <img src="assets/Avatars/F/Gemini_Generated_Image_7sa0nr7sa0nr7sa0.jpeg" alt="Person Image" class="sideNavHeaderSection__image">
    <figcaption class="sideNavHeaderSection__description">
      <p class="sideNavHeaderSection__description__name"><strong>Priyadharshini</strong> </p>
      <p class="sideNavHeaderSection__description__role">Client Delivery Lead</p>
      <span class="sideNavHeaderSection__description__logDetails">Last Logged In: <time datetime="2024-10-17">17-10-2024</time></span>
    </figcaption>
  </figure>

  <section class="sideNavSection" *ngFor="let menu of sideNavMenus()">
      <a *ngIf="menu.navigationPath" [routerLink]="['/', menu.navigationPath]" routerLinkActive="active" role="navigation" class="sideNavSection__mainMenu text-shadow">{{ menu.menuName }}</a>
      <h3 *ngIf="!menu.navigationPath" class="sideNavSection__mainMenu">{{ menu.menuName }}</h3>
      <ul>
          <li *ngFor="let subMenu of menu.subMenus">
          <a *ngIf="subMenu.navigationPath" [routerLink]="['/', subMenu.navigationPath]" routerLinkActive="active" class="sideNavSection__subMenu">{{ subMenu.subMenuName }}</a>
          </li>
      </ul>
  </section>

  <mat-accordion role="navigation">
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title class="sideNavSection__mainMenu">Teams</mat-panel-title>
        </mat-expansion-panel-header>
       <mat-accordion *ngFor="let teams of sidenavTeamsLinks(); let i = index">
          <mat-expansion-panel [expanded]="i === 0">
            <mat-expansion-panel-header>
              <mat-panel-title>{{teams.teamName}}</mat-panel-title>
            </mat-expansion-panel-header>
            <a *ngFor="let team of teams.subMenus" class="sideNavSection__subMenu connect__links" [routerLink]="['/', team.navigationPath]" routerLinkActive="active" id={{teams.teamID}}>{{team.subMenuName}}</a>
          </mat-expansion-panel>
        </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="flex-child grow">
      <mat-expansion-panel>
          <mat-expansion-panel-header class="margin-bottom">
              <mat-panel-title class="sideNavSection__mainMenu">Developer Guide</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>AI</mat-panel-title>
              </mat-expansion-panel-header>
              <a href="https://github.com/Ponniah96/angular-ikigai-frontend-app.git" target="_blank" class="sideNavSection__subMenu">Codebase</a>
              <a [routerLink]="['/AI-basics']" class="sideNavSection__subMenu">Basics</a>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Front End</mat-panel-title>
              </mat-expansion-panel-header>
              <a href="https://github.com/Codename-Pulse/engageiq_fe" target="_blank" class="sideNavSection__subMenu">Codebase</a>
              <a [routerLink]="['/prerequisites']" class="sideNavSection__subMenu">Prerequsite</a>
              <a [routerLink]="['/style-guide']" class="sideNavSection__subMenu">Styles</a>
              <a [routerLink]="['/architechture-guide']" class="sideNavSection__subMenu">Architechture</a>
              <a [routerLink]="['/layout-models']" routerLinkActive="active" role="navigation" class="sideNavSection__subMenu">Components</a>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Back End</mat-panel-title>
              </mat-expansion-panel-header>
              <a href="https://github.com/Codename-Pulse/engageiq_be" target="_blank" class="sideNavSection__subMenu">Codebase</a>
              <a [routerLink]="['/back-end-basics']" class="sideNavSection__subMenu">Basics</a>
            </mat-expansion-panel>
          </mat-accordion>
      </mat-expansion-panel>
  </mat-accordion>

  <section class="sideNavFooterSection">
    <img class="sideNavFooterSection__logoImage" src="assets/main-images/DevonLogo.png" alt="Devon logo">
    <a class="sideNavFooterSection__description__logout" routerLink="login" (click)="logoutFunction()">Logout</a>
    <span class="sideNavFooterSection__description__version">App Version:1.0</span>
  </section>
</nav>
