<section class="section conatiner container__layouts">
  <header class="section__header bg-red">
    <!--Title-->
    <h1>Codename Pulse</h1>
    <!--SubTitle-->
    <h6>Welcome to Layouts & Components Guide</h6>
    <!--Header Menu-->
    <section class="section__header__description bg-black">
      <button class="left--section disabled">test</button>
      <h3 class="middle--section">Layouts & Components</h3>
      <section class="right--section">
       <p>Ready to Download</p>  
      </section>
    </section>
  </header>

  <section class="padding bg-white">

    <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title class="subHeading padding-top">Header Section</mat-panel-title>
          </mat-expansion-panel-header>
          <h6>HTML Template(Copy Paste where we want)</h6>
          <div class="terminal" >
            <pre>
{{headerHTML}}
            </pre>
        </div>
          <h6 class="padding-top">CSS Code(FYI Dont need to copy paste)</h6>
          <div class="terminal" >
            <pre>
{{headerCSS}}
            </pre>
        </div>
      </mat-expansion-panel>
  </mat-accordion>

  <br>

  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="subHeading padding-top">Card Section</mat-panel-title>
        </mat-expansion-panel-header>
        <h6>HTML Template(Copy Paste where we want)</h6>
        <div class="terminal" >
          <pre>
{{CardHTML}}
          </pre>
      </div>
        <h6 class="padding-top">CSS Code(FYI Dont need to copy paste)</h6>
        <div class="terminal" >
          <pre>
{{CardCSS}}
          </pre>
      </div>
      
    </mat-expansion-panel>
</mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title class="subHeading padding-top">Flex</mat-panel-title>
          </mat-expansion-panel-header>
          <h3>Flex: Column</h3>
          <section class="card-section card-section__0" style="overflow: auto;">
            <div class="card">
              <h2>Card 1</h2>
              <p>Card 1 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 2</h2>
              <p>Card 2 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 3</h2>
              <p>Card 3 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 4</h2>
              <p>Card 4 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 5</h2>
              <p>Card 5 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 6</h2>
              <p>Card 6 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 7</h2>
              <p>Card 7 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
  
          </section>
          <hr>
          <h3>Flex: Column, Center, Wrap</h3>
          <section class="card-section card-section__1" style="overflow: auto;">
            <div class="card">
              <h2>Card 1</h2>
              <p>Card 1 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 2</h2>
              <p>Card 2 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 3</h2>
              <p>Card 3 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 4</h2>
              <p>Card 4 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 5</h2>
              <p>Card 5 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 6</h2>
              <p>Card 6 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 7</h2>
              <p>Card 7 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
  
          </section>
          <hr>
          <h3>Flex: Row</h3>
          <section class="card-section card-section__2" style="overflow: auto;">
            <div class="card">
              <h2>Card 1</h2>
              <p>Card 1 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 2</h2>
              <p>Card 2 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 3</h2>
              <p>Card 3 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 4</h2>
              <p>Card 4 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 5</h2>
              <p>Card 5 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 6</h2>
              <p>Card 6 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 7</h2>
              <p>Card 7 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
  
          </section>
          <hr>
          <h3>Flex: Row, Center, Wrap</h3>
          <section class="card-section card-section__3" style="overflow: auto;">
            <div class="card">
              <h2>Card 1</h2>
              <p>Card 1 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 2</h2>
              <p>Card 2 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 3</h2>
              <p>Card 3 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 4</h2>
              <p>Card 4 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 5</h2>
              <p>Card 5 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 6</h2>
              <p>Card 6 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 7</h2>
              <p>Card 7 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
  
          </section>
          <hr>
          <h3>Flex: Row, left, Wrap</h3>
          <section class="card-section card-section__4" style="overflow: auto;">
            <div class="card">
              <h2>Card 1</h2>
              <p>Card 1 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 2</h2>
              <p>Card 2 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 3</h2>
              <p>Card 3 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 4</h2>
              <p>Card 4 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 5</h2>
              <p>Card 5 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 6</h2>
              <p>Card 6 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
            <div class="card">
              <h2>Card 7</h2>
              <p>Card 7 Content</p>
              <button class="primary">Delete</button>
              <button class="secondary">Cancel</button>
            </div>
  
          </section>
          <hr>
      </mat-expansion-panel>
  </mat-accordion>
  
  <br>

  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="subHeading padding-top">Grid</mat-panel-title>
        </mat-expansion-panel-header>
        <h3>Grid Container:  3*3 </h3>
        <section class="card-section card-section__5" style="overflow: auto;">
          <div class="card">
            <h2>Card 1</h2>
            <p>Card 1 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 2</h2>
            <p>Card 2 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 3</h2>
            <p>Card 3 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 4</h2>
            <p>Card 4 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 5</h2>
            <p>Card 5 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 6</h2>
            <p>Card 6 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 7</h2>
            <p>Card 7 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
      
        </section>
        <hr>
        <h3>Grid Container:  4*2 </h3>
        <section class="card-section card-section__6" style="overflow: auto;">
          <div class="card">
            <h2>Card 1</h2>
            <p>Card 1 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 2</h2>
            <p>Card 2 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 3</h2>
            <p>Card 3 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 4</h2>
            <p>Card 4 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 5</h2>
            <p>Card 5 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 6</h2>
            <p>Card 6 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 7</h2>
            <p>Card 7 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
      
        </section>
        <hr>
        <h3>Grid Container:  3*5 with Header, Side NavBar, Content, Footer </h3>
        <section class="card-section card-section__7" style="overflow: auto;">
          <div class="card header">
            <h2>Card 1</h2>
            <p>Card 1 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card sidebar">
            <h2>Card 2</h2>
            <p>Card 2 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 3</h2>
            <p>Card 3 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 4</h2>
            <p>Card 4 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 5</h2>
            <p>Card 5 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card">
            <h2>Card 6</h2>
            <p>Card 6 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
          <div class="card footer">
            <h2>Card 7</h2>
            <p>Card 7 Content</p>
            <button class="primary">Delete</button>
            <button class="secondary">Cancel</button>
          </div>
      
        </section>
    </mat-expansion-panel>
  </mat-accordion>
  </section> 
</section>